{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}Gestor IMV{% endblock %}
{% block head %}
<meta http-equiv="refresh" content="5;  "/>
{% endblock %}
{% block content %}
<div style="text-align: center;">
    <h3>Total Tarjetas: {{ tarjetas_count }}, Pendiente de Hospital: {{pendiente_hospi}}, Pendiente de traslado: {{pendiente_traslado}} </h3>
</div>
<div class="contenedor">
  <div map="map" id="map" style="width: 100%; height: 800px;"></div>
</div>
<script>
    var latitud = {{ latitud }}; // Latitud del evento
    var longitud = {{ longitud }}; // Longitud del evento

    // Crear el mapa
    var map = L.map('map').setView([latitud, longitud], 17.5);

    // Agregar capa de OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 30,
    }).addTo(map);

    // Iterar sobre tarjetas_red_coords para agregar marcadores rojos
    var tarjetasRedCoords = {{ tarjetas_red_coords|safe }};
    var tarjetasVerdeCoords = {{ tarjetas_verde_coords|safe }};
    var tarjetasAmarilloCoords = {{ tarjetas_amarillo_coords|safe }};
    var tarjetasMoradoCoords = {{ tarjetas_morado_coords|safe }};
    var tarjetasNegroCoords = {{ tarjetas_negro_coords|safe }};
    var psaCoords = {{ psa_coords|safe }};

    tarjetasRedCoords.forEach(function(tarjeta) {
        if (tarjeta.lat && tarjeta.lon) { // Verificar que las coordenadas existan
            L.marker([tarjeta.lat, tarjeta.lon], {
              icon: L.icon({
                iconUrl: '{% static '/img/marker-icon-red.png' %}', // Ícono rojo
                shadowUrl: '{% static '/img/marker-shadow.png' %}', // Sombra del marcador
                iconSize: [25, 41], // Tamaño del ícono
                iconAnchor: [12, 41], // Punto de anclaje
                popupAnchor: [1, -34], // Punto de anclaje del popup
                shadowSize: [41, 41] // Tamaño de la sombra
            })
            }).addTo(map);
        }
    });
   // Iterar sobre tarjetas_verdes_coords
  tarjetasVerdeCoords.forEach(function(tarjeta) {
      if (tarjeta.lat && tarjeta.lon) { // Verificar que las coordenadas existan
          L.marker([tarjeta.lat, tarjeta.lon], {
            icon: L.icon({
              iconUrl: '{% static '/img/marker-icon-green.png' %}', // Ícono rojo
              shadowUrl: '{% static '/img/marker-shadow.png' %}', // Sombra del marcador
              iconSize: [25, 41], // Tamaño del ícono
              iconAnchor: [12, 41], // Punto de anclaje
              popupAnchor: [1, -34], // Punto de anclaje del popup
              shadowSize: [41, 41] // Tamaño de la sombra
          })
          }).addTo(map);
      }
  });
   // Iterar sobre tarjetas_amarillo_coords
  tarjetasAmarilloCoords.forEach(function(tarjeta) {
    if (tarjeta.lat && tarjeta.lon) { // Verificar que las coordenadas existan
        L.marker([tarjeta.lat, tarjeta.lon], {
          icon: L.icon({
            iconUrl: '{% static '/img/marker-icon-yellow.png' %}', // Ícono rojo
            shadowUrl: '{% static '/img/marker-shadow.png' %}', // Sombra del marcador
            iconSize: [25, 41], // Tamaño del ícono
            iconAnchor: [12, 41], // Punto de anclaje
            popupAnchor: [1, -34], // Punto de anclaje del popup
            shadowSize: [41, 41] // Tamaño de la sombra
        })
        }).addTo(map);
    }
});
 // Iterar sobre tarjetas_morado_coords
tarjetasMoradoCoords.forEach(function(tarjeta) {
  if (tarjeta.lat && tarjeta.lon) { // Verificar que las coordenadas existan
      L.marker([tarjeta.lat, tarjeta.lon], {
        icon: L.icon({
          iconUrl: '{% static '/img/marker-icon-blue.png' %}', // Ícono rojo
          shadowUrl: '{% static '/img/marker-shadow.png' %}', // Sombra del marcador
          iconSize: [25, 41], // Tamaño del ícono
          iconAnchor: [12, 41], // Punto de anclaje
          popupAnchor: [1, -34], // Punto de anclaje del popup
          shadowSize: [41, 41] // Tamaño de la sombra
      })
      }).addTo(map);
  }
});
 // Iterar sobre tarjetas_negro_coords
tarjetasNegroCoords.forEach(function(tarjeta) {
  if (tarjeta.lat && tarjeta.lon) { // Verificar que las coordenadas existan
      L.marker([tarjeta.lat, tarjeta.lon], {
        icon: L.icon({
          iconUrl: '{% static '/img/marker-icon-black.png' %}', // Ícono rojo
          shadowUrl: '{% static '/img/marker-shadow.png' %}', // Sombra del marcador
          iconSize: [25, 41], // Tamaño del ícono
          iconAnchor: [12, 41], // Punto de anclaje
          popupAnchor: [1, -34], // Punto de anclaje del popup
          shadowSize: [41, 41] // Tamaño de la sombra
      })
      }).addTo(map);
  }
});
 // Iterar sobre psa activos coords
 psaCoords.forEach(function(psa) {
  if (psa.lat && psa.lon) { // Verificar que las coordenadas existan
      L.marker([psa.lat, psa.lon], {
        icon: L.icon({
          iconUrl: '{% static '/img/hospital.png' %}', // Ícono rojo
          iconSize: [40, 40], // Tamaño del ícono
          iconAnchor: [12, 41], // Punto de anclaje

      })
      }).addTo(map);
  }
});

</script>
{% endblock %}






















